@use '@angular/material' as mat;

@import "theme";

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    @include mat.typography-level($portfolio-typography-config, 'body-1');
    @media (prefers-color-scheme: dark) {
        background-color: black;
        color: white;
    }
}

a {
    // @include mat.typography-level($portfolio-typography-config, 'button');
    // padding: 0px 10px;
    text-decoration: none;
    background-color: black;
    color: mat.get-color-from-palette($portfolio-primary, 600);

    &:hover {
        color: mat.get-color-from-palette($portfolio-primary, 200);
    }
}

li:not(:last-child) {
    margin-bottom: 10px;
}

.navbar {
    flex: 0 0 auto;
    margin: 0px;
    padding: 10px 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    &__brand {
        @include mat.typography-level($portfolio-typography-config, 'headline-1');
    }

    &__item {
        @include mat.typography-level($portfolio-typography-config, 'headline-3');
    }
}

.body {
    &__container {
        flex: 1 1 auto;
        padding: 100px;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: stretch;
        overflow: hidden;
    }

    &__intro-text {
        @include mat.typography-level($portfolio-typography-config, 'headline-5');
        width: 100%;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }

    &__content {
        overflow: auto;
        flex: 1.5 1 60%;
        padding-left: 100px;
    }

    &__detail-text {
        @include mat.typography-level($portfolio-typography-config, 'headline-6');
        width: 100%;
    }

    &__header-2 {
        @include mat.typography-level($portfolio-typography-config, 'headline-4');
        margin: 50px 0px 10px;
        padding: 5px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        @media (prefers-color-scheme: dark) {
            border-top: 1px solid white;
            border-bottom: 1px solid white;
        }
    }

    &__sample-persona {
        width: 100%;
        padding: 0px;
        margin: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        gap: 25px;

        &-column {
            @include mat.typography-level($portfolio-typography-config, 'subtitle-1');
            flex: 1 1 33%;
        }

        &-column--2x {
            @include mat.typography-level($portfolio-typography-config, 'subtitle-1');
            flex: 1 1 66%;
        }

        &-thumbnail {
            width: 100%;
        }
    }

    &__icon {
        display: inline-block;
        vertical-align: middle;
        font-family: 'Material Icons';
    }
}

.dropdown {
    display: inline-block;
    @include mat.typography-level($portfolio-typography-config, 'button');
    
    text-decoration: none;
    background-color: black;
    color: white;

    @media (prefers-color-scheme: dark) {
        background-color: white;
        color: black;
    }

    &__container {
        position: relative;
    }

    &__button {
        padding: 0px 10px;
        display: inline-block;
        cursor: pointer;
        
        &:hover {
            color: mat.get-color-from-palette($portfolio-primary, 400);

            @media (prefers-color-scheme: dark) {
                color: mat.get-color-from-palette($portfolio-primary, 900);
            }
        }

        &::after {
            display: inline-block;
            vertical-align: middle;
            font-family: 'Material Icons';
            font-size: 24pt;
            content: "keyboard_arrow_down";
        }

        &--expanded {
            color: mat.get-color-from-palette($portfolio-primary, 400);

            @media (prefers-color-scheme: dark) {
                color: mat.get-color-from-palette($portfolio-primary, 900);
            }
            
            &::after {
                content: "keyboard_arrow_up";
            }
        }
    }

    &__menu {
        position: absolute;
        min-width: 100%;
        z-index: 99;

        &--hidden {
            display: none;
            visibility: hidden;
        }

    }

    &__item {
        background-color: mat.get-color-from-palette($portfolio-primary, 900);
        padding: 0px 10px;
        cursor: pointer;
        
        &:hover {
            background-color: mat.get-color-from-palette($portfolio-primary, 400);
        }

        &:active {
            background-color: mat.get-color-from-palette($portfolio-primary, 400);
        }

        &--selected {
            background-color: mat.get-color-from-palette($portfolio-primary, 400);

            &::after {
                display: inline-block;
                vertical-align: middle;
                font-family: 'Material Icons';
                font-size: 24pt;
                content: "check";
            }
        }
    }
}